{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>Edit item for {{ category_name }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
		<form action="/catalog/{{ category_name }}/{{ item.id }}/edit" method = "POST">
			<div class="form-group">
			   <label for="namelabel">Title</label>
			   <input type="text" class="form-control" name="name" placeholder="{{ item.title }}" value="{{ item.title }}">
			</div>
			<div class="errormsg">
				{{ errormsg }} 
			</div>
			<div class="form-group">
				<label for="description">Description</label>
			    <textarea class="form-control" id="description" name="description" rows="5" value="{{ item.description }} | escape">{{ item.description }}</textarea>
			</div>
			<div class="form-group">
				<label for="catChoose">Category</label>
				<select class="form-control" name="cID">
					{% for c in categories %}
						{% if c.name == category_name %}
							<option selected value="{{ c.id }}">{{ c.name }}</option>
						{% else %}
							<option value="{{ c.id }}">{{ c.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			<a href="/catalog" class="btn btn-primary cancel-button" value="Cancel">Cancel</a>
		</form>
    </div>
</div>

{% endblock %}