{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>Edit Category</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
		<form action="/catalog/{{ category.id }}/edit" method = "POST">
			<div class="form-group">
			   <label for="namelabel">Name</label>
			   <input type="text" class="form-control" name="name" placeholder="{{ category.name }}" value="{{ category.name }}">
			</div>
			<div class="errormsg">
				{{ errormsg }} 
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>

{% endblock %}
