{% extends "base_unlogged.html" %}

{% block content %}

	{% if categories %}

     <div class="row">
        <div class="col-sm-4">
            
            <div class="panel panel-default">
                <div class="panel-heading">Categories</div>
                {% for c in categories %}
                    <div class="panel-body"><a href = "{{ url_for('byCategoryMenu', category_name=c.name) }}">{{c.name}}</a></div>
                {% endfor %}
            </div>
            
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">Latest Items (category)</div>
                {% for i in items %}
                    <div class="panel-body"><a href = "/catalog/{{ cats[i.title] }}/{{i.id}}">{{ i.title }}</a>
                    ({{ cats[i.title] }})</div>
                {% endfor %}
            </div>        
        </div>
    </div>

    {% else %}

    <div class="row">
        <div class="col-md-12">
            Category list is empty.
        </div>
    </div>

	{% endif %}

 	<div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
	

{% endblock %}