{% extends "base.html" %}

{% block content %}

	<div class="row">
        <div class="col-md-12">
            <h2>{{ item.title }}</h2>
        </div>
    </div>

	<div class="row">
        <div class="col-md-12">
            <p>{{ item.description }}</p>
        </div>
    </div>
	<div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12">
			<a href = "/catalog/{{category_name}}/{{item.id}}/edit" class="btn-sm btn btn-warning">Edit Item</a>
			<a href = "/catalog/{{category_name}}/{{item.id}}/delete" class="btn-sm btn btn-warning">Delete Item</a>
		</div>
	</div> 

{% endblock %}
